.canvas-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100vh;
  display: block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  // Disable text selection
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.canvas-paintbrush {
  cursor: url('../../../assets/icon/pen.png'), auto;
}

.canvas-eraser {
  cursor: url('../../../assets/icon/eraser.png'), auto;
}

.canvas-fill {
  cursor: url('../../../assets/icon/paint-bucket.png'), auto;
}
